:root {
    --yellow: #fff5bf;
    --orange: #f55134;
    --purple: #b0a7e9;
    --blue: #9bafe1;
    --dark-grey: #2f2f2c;
    --yellow: oklch(96% 0.07 98.77);
    --orange: oklch(66% 0.205 32.38);
    --purple: oklch(76% 0.094 290.22);
    --blue: oklch(0.199 0.1259 271.9916);
    --p1: oklch(0.2 0.12 306);
    --p2: oklch(0.3 0.12 312);
    --p3: oklch(0.4 0.12 324);
    --p4: oklch(0.5 0.12 352);
}
body {
    background: var(--dark-grey);
    min-height: 100vh;
    overflow-x: clip;
}

.italicize {
    font-style: italic;
}
